AWS_PROFILE=heylo-dev
NEXT_PUBLIC_AWS_REGION=us-east-2
NEXT_PUBLIC_AWS_ACCOUNT_ID=
NEXT_PUBLIC_AWS_COGNITO_IDENTITY_POOL_ID=
NEXT_PUBLIC_AWS_COGNITO_USER_AUTH_CLIENT_ID=
NEXT_PUBLIC_API_BASE_URL=http://localhost:4000
NEXT_PUBLIC_APPSYNC_GRAPHQL_ENDPOINT=